<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
      <form action="/contact" method="POST">
          <input type="email" name="email" value="">
          <input type="text" name="problem" value="">
          <button type="submit">Submit</button>
      </form>
    </body>
</html>
