<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%var user = 'mohammed';%>
  <%if (user == 'mohammed'){%>
  <h1><%= user%></h1>
  <%} else {%>
  <h1>User not found</h1>
  <%}%>
  </body>
</html>
