doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    h1= "hf"
    h2
     li Enter your name
    input(type="text").class-name#ID

    -var anyarray = [10 , 30 , 5 , 60]
    each v in anyarray
    p= v

    block content
