doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1= "hf"
    h2
     li Enter your name
    input(type="text").class-name#ID
